html {
  background-color: #F7F4FA;
}

h1 {
  color: #551a8b;
}

.App {
  background-color: #F7F4FA;
}

.App-logo {
  height: 80px;
}

.App-header-wrapper {
  height: 100px;
}

.App-header {
  min-height: 100px;
  border-radius: 0;
  font-size: 2em;
  margin-bottom: 0;
}

.App-header .navbar-brand {
  padding: 10px 15px;
  height: 100px;
  line-height: 100px;
}

.App-header .navbar-toggle {
  margin-top: 33px;
  padding: 9px 10px !important;
}

.App-header .navbar-nav > li > a {
  color: #551a8b !important;
}
.App-header .navbar-nav > li:not(.active) > a:hover {
  color: #551a8b;
  text-decoration: underline;
}

.App-header .navbar-nav.navbar-right {
  font-size: 0.6em;
}
.App-header .navbar-nav.navbar-right > li > a {
  transition: font-size 0.4s;
}
.App-header .navbar-nav.navbar-right > li > a:hover {
  font-size: 1.65em;
}

.App-intro {
  font-size: large;
}

.btn-toolbar-wrapper {
  height: 50px;
}
.btn-toolbar-wrapper > div {
  position: fixed;
  top: 100px;
  height: 50px;
  padding: 8px;
  width: 100%;
  text-align: center;
  background-color: #551a8b;
  z-index: 10;
}

.btn-toolbar-wrapper > div > div {
  display: inline-block;
}

.carousel {
  height: 700px;
  background-color: #551a8b;
}

.carousel .badge {
  background-color: #551a8b;
}

.carousel img {
  height: 700px !important;
}

.img-scroll {
  overflow-x: scroll;
}

.main {
  padding: 0 20%;
}

#about p {
  font-size: 1.1em;
}

#about b {
  color: #551a8b;
}

#contact {
  padding-top: 1em;
}

#contact form {
  background-color: #E8E5EB;
  border: 1px solid #BBBABD;
  border-radius: 4px;
  padding: 3em 2em 2em 2em;
}

#resume p.nested {
  margin-left: 2em;
}

#resume p.title {
  margin-bottom: 0;
}

#not-found {
  text-align: center;
}

@media (max-width: 768px) {
  .App-header {
    position: static;
  }
  .btn-toolbar-wrapper > div {
    position: static;
  }
  .App-header .navbar-brand {
    width: 100%;
  }
  .App-header .App-logo {
    margin: auto;
  }
  .App-header .nav {
    text-align: center;
  }
  .App-header-wrapper {
    height: 400px;
  }
  .carousel-caption {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .App-header .navbar-nav > li > a {
    padding-top: 36.5px;
    padding-bottom: 36.5px;
    line-height: 27px;
  }
}
