html {
  background-color: #F7F4FA;
}

.App {
  text-align: center;
  background-color: #F7F4FA;
}

.App-logo {
  height: 80px;
}

.App-header-wrapper {
  height: 100px;
}

.App-header {
  min-height: 100px;
  border-radius: 0;
  font-size: 2em;
  margin-bottom: 0;
}

.App-header .navbar-brand {
  padding: 10px 15px;
  height: 100px;
  line-height: 100px;
}

.App-header .navbar-toggle {
  /* (100px - button height of 34px) / 2 = 33px */
  margin-top: 33px;
  padding: 9px 10px !important;
}

.App-header .navbar-nav > li > a {
    color: #551a8b;
}

@media (max-width: 768px) {
  .App-header .navbar-brand {
    width: 100%;
  }
  .App-logo {
    margin: auto;
  }
}
@media (min-width: 768px) {
  .App-header .navbar-nav > li > a {
    /* (100px - line-height of 27px) / 2 = 36.5px */
    padding-top: 36.5px;
    padding-bottom: 36.5px;
    line-height: 27px;
  }
}

.App-intro {
  font-size: large;
}

.carousel {
  min-height: 693px;
  background-color: #551a8b;
}

.carousel .badge {
  background-color: #551a8b;
}

#about {
  text-align: left;
  padding: 0 20%;
}

h1 {
  color: #551a8b;
}
